body {
    background-image: url("../../resources/fondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
ul {
    list-style-type: none;
}

.Menu {
    float: left;
    width: 19%;
}

.Contenido {
    float: right;
    width: 80%;
}

.modalFormulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 2rem;
    max-width: 500px;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }
  
  .overlayFormulario {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

.resumen {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  max-width: 300px;
  margin: 1rem 73rem 2rem auto;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  font-family: 'Segoe UI', sans-serif;
}

.resumen h3 {
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.resumen p {
  margin: 0.4rem 0;
}

.resumen strong {
  display: block;
  margin-top: 1rem;
}

.resumen ul {
  list-style: none;
  padding-left: 0;
  margin: 0.4rem 0;
}

.resumen li {
  font-size: 0.95rem;
  padding: 0.2rem 0;
  border-bottom: 1px solid #444;
}
