.contenedorpeliculas {
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 80%;
  }
  
  .cabecerapeliculas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .botonagregar {
    background-color: #007bff; /* Azul */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 0.9em; /* Más chico */
    cursor: pointer;
  }
  
  .botonagregar:hover {
    background-color: #0056b3;
  }